.39_377 { 
	overflow:hidden;
}.e39_377 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:360px;
	height:800px;
	position:absolute;
}.e4_343 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}.4_343 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e59_329 { 
	background-color:rgba(209.31249797344208, 209.31249797344208, 209.31249797344208, 1);
	width:360px;
	height:215px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e4_344 { 
	width:227px;
	height:138.411376953125px;
	position:absolute;
	left:73px;
	top:389px;
}.e4_345 { 
	width:227px;
	height:138.411376953125px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_346 { 
	width:227px;
	height:138.411376953125px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_347 { 
	width:227px;
	height:124.58772277832031px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_348 { 
	background-color:rgba(52.63802066445351, 63.8837756216526, 87.12500050663948, 1);
	width:227px;
	height:61.996768951416016px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e4_349 { 
	color:rgba(255, 255, 255, 1);
	width:82.5802001953125px;
	height:39.77338790893555px;
	position:absolute;
	left:78.72926330566406px;
	top:84.81433868408203px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e4_350 { 
	background-color:rgba(255, 255, 255, 1);
	width:9.175578117370605px;
	height:31.126996994018555px;
	position:absolute;
	left:55.790374755859375px;
	top:84.81433868408203px;
}.e4_351 { 
	width:227px;
	height:61.996768951416016px;
	position:absolute;
	left:0px;
	top:76.41460418701172px;
}.e4_352 { 
	background-color:rgba(53.00000064074993, 64.00000378489494, 87.00000241398811, 1);
	width:227px;
	height:61.996768951416016px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.4_352 { 
	border:1px solid rgba(213.56249392032623, 213.56249392032623, 213.56249392032623, 1);
}.e4_1027 { 
	color:rgba(255, 255, 255, 1);
	width:42px;
	height:19px;
	position:absolute;
	left:88px;
	top:20.58538818359375px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e4_509 { 
	color:rgba(36.45259916782379, 97.94653862714767, 190.18750101327896, 1);
	width:260px;
	height:43px;
	position:absolute;
	left:57px;
	top:135px;
	font-family:Electrolize;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e5_41 { 
	width:106px;
	height:85px;
	position:absolute;
	left:134px;
	top:30px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_1026 { 
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:20px;
	position:absolute;
	left:155px;
	top:413px;
	font-family:Inter;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}.e4_2630 { 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:3px;
	position:absolute;
	left:104px;
	top:362px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e4_676 { 
	background-color:rgba(181.00131154060364, 234.81250405311584, 227.769156396389, 1);
	width:360px;
	height:603px;
	position:absolute;
	left:2px;
	top:199px;
	border-radius:Symbol(figma.mixed)px;
}